 #cover {
    background-image: url('../img/Untitled-1.png');
    background-size: cover;
    background-attachment: fixed;
}

.conten {
    padding: 20px;
}

#tex {
    background-image: url('../img/BG2.png');
    background-size: cover;
}

#contact {
    background-image: url('../img/untitled-2.png');
    background-size: cover;
}

.blog-news {
    height: 12rem;

}

.blog-news img {
    width: 5rem !important;
    height: 5rem !important;
    float: left;
    margin-right: 10px;
}


p {
    word-break: break-word !important;
    overflow-wrap: break-word !important;
}


/* =================================================== */

